@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
.container{
  display: flex;
  flex-flow: column;
  height: 100%;
  flex : 1;
}
@media only screen and (max-width: 948px) {
  .ace_editor{
    height: 450px !important;
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 420px) {
  .ace_editor{
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 380px) {
  .ace_editor{
    height: 400px !important;
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 850px){
  .centert{
    display: none !important;
  }
}
.centert{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 10px;
  font-family: monospace;
  white-space:nowrap;
  overflow: hidden;
  width: 65em;
  animation: type 6s steps(50, end) 1;
}
@keyframes type{
	from{ width: 0;}
}
.centert span{
  font-size: 25px;
  color: black;

	animation: blink 1s infinite;
}

@keyframes blink{
	to{ opacity: .0;}
}

.nav{
  font-family: 'Love Ya Like A Sister', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pull-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pull-right p{
  font-size: 22px
}
.pull-right img{
  margin-right: 15px;
  margin-left: 15px;
}
.fcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.but{
  margin: 10px;
  padding: 11px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  border: 3px solid black;
}
.but:active{
  color: white;
  background-color: black;
  border: 3px solid black;
}
.fcontainer button{
  margin: 10px;
  padding: 11px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  border: 3px solid black;
}
.picker{
    padding: 10px;
    margin-right:5px;
    font-weight: bold;
    background-color: white;
    color: black;
    outline: none;
    border: 3px solid black;
}
.picker option{
    font-weight : lighter;
    background-color: white;
    color: black;
}
.fcontainer button:active{
  color: white;
  background-color: black;
  border: 3px solid black;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 340px){
  .f1{
    font-size: 20px !important;
  }
}
.popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
  width: 50%;
  height: 30%;
  position: fixed;
  font-size: 20px;
  top:20%;
  left: 25%;
  color: black;
  background: white;
  border-radius: 25px;
  padding: 10px;
}
@media only screen and (max-width : 930px) {
  .popup{
    font-size: 15px !important;
  }
}
@media only screen and (max-width : 530px) {
  .popup{
    left: 20%;
    width: 60% !important;
    font-size: 15px !important;
  }
}
.center{

}
@media only screen and (max-width : 410px) {
  .popup{
    left: 20%;
    width: 60% !important;
    font-size: 12px !important;
  }
  .uid{
    font-size: 10px !important;
  }
  .but{
    font-size: 12px !important;
  }
}
#gg{
  margin: 10px;
  padding: 11px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  border: 3px solid black;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width : 580px) {
  .row{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.f1{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 22px;
}
.overlay{
  top : 0;
  left: 0;
  font-weight: bold;
  font-family: 'Arial', serif !important;
  min-height: 100%;
  overflow: auto;
  width: 100%;
  background-color: rgba(1,1,1,0.8);
  position: fixed;
  z-index: 500;
}
.uid{
  font-family: 'Lucida Console',monospace;
}
